{% block content %}

{{ mytwig_showtime(attributes)|raw }}

<hr class='nordita-hidden'/>
<div id='block-colophon' class='col-content-center' style='overflow:visible;'>
  <div id='colophon-short-address'>
    <address>
      <strong>NORDITA</strong>, Roslagstullsbacken&nbsp;23,&nbsp;106&nbsp;91&nbsp;Stockholm,&nbsp;Sweden
      <br/>Phone:&nbsp;+46&nbsp;8&nbsp;5537&nbsp;8444, Fax:&nbsp;+46&nbsp;8&nbsp;5537&nbsp;8404, E-mail:&nbsp;info<span class='snabela'>&nbsp;</span>nordita.org
    </address>
  </div> 
  
  <div id='colophon-footprint'>
    <p><em>{{ mytwig_module()|raw }}<br/>{{ mytwig_date()|raw }}</em></p>
  </div>
</div> 
{% endblock %}
