/* ================================================================= */
/*                                                                   */
/* CSS/2011/NEWSLETTER                                               */
/*                                                                   */
/* Hans Mühlen / 2013-01-14 -- 2013-02-20                            */
/*                                                                   */
/* ================================================================= */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*                                                                   */
/*  *** WORK IN PROGRESS! ***   Do not copy or comment!              */
/*                                                                   */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

body
{
  height:  auto;
}


#newsedit input[type=submit],
#newsedit input[type=reset],
#newsedit input[type=button]
{
  background-color: #e5f5d5;
}

#newsedit input[type=text],
#newsedit input[type=password]
{
  padding-left: 2px;
  font-size: 0.9em ! important;
}

input[type=submit],
input[type=reset],
input[type=button]
{
  font-size: 1.2em ! important;
  font-weight: normal;
} /*
  'important' needed to undo :hover font specification
  */
input[type=submit].fakelink,
input[type=reset].fakelink,
input[type=button].fakelink
{
  font-weight: bold;
}

.h2,
.h3,
.h4
{
  font-family: "Trebuchet MS","Calibri","Verdana","Geneva","Arial","Helvetica",sans-serif ! important;
  font-weight: normal ! important;
}



/* ---------------------------------------------------------------- */
/* -- BODYID NEWSLETTER                                          -- */
/* ---------------------------------------------------------------- */

#newsletter
{
  background-attachment: fixed;
  background-image: url("./img/_backgrounds/background_broken_star_30x154.png") ! important;
  background-repeat: repeat-y;
} /*
  background-image: url("./img/_backgrounds/background_broken_star_30x154.png") ! important;
  background-image: url("./img/_backgrounds/background_broken_star_70x350.png") ! important;
  background-image: url("./img/_backgrounds/background_broken_star_110x566.png") ! important;

  background-image: url("./img/backdrop_pentaflakes_1200_win.jpg") ! important;
  background-image: url("./img/backdrop_pentaflakes_1200_green-2.jpg") ! important;
  background-image: url("./img/_backgrounds/backdrop_pentaflakes_blue_1000.png") ! important;
  background-image: url("./img/_backgrounds/backdrop_pentaflakes_pale_1000.png") ! important;
  background-image: url("./img/_backgrounds/backdrop_pentaflakes_medium_1000.png") ! important;
    background-image: url("./img/_backgrounds/backdrop_pentaflakes_mini_pale_1000.png") ! important;
  background-image: url("./img/_backgrounds/backdrop_pentaflakes_mini_medium_1000.png") ! important;
  background-image: url("./img/_backgrounds/backdrop-norditalogo-pale-1010x1010.png") ! important;
  background-repeat: no-repeat;
  background-position: top left;
  */
#newsbrief,
#newsedit
{
  background-attachment: fixed;
  background-image: url("./img/_backgrounds/backdrop_pentaflakes_mini_pale_1000.png") ! important;
}

#newsbrief #region-headlinecenter,
#newsbrief #region-content,
#newsbrief #block-fulltree,
#newsletter #region-headlinecenter,
#newsletter #region-content,
#newsletter #block-fulltree,
#newsedit #region-headlinecenter,
#newsedit #region-content,
#newsedit #block-fulltree
{
  background-image: none;
  background-color: #fcfcfc ! important;
}
#newsbrief #region-banner,
#newsbrief #block-colophon,
#newsbrief #region-top,
#newsletter #region-banner,
#newsletter #block-colophon,
#newsletter #region-top,
#newsedit #region-banner,
#newsedit #block-colophon,
#newsedit #region-top
{
  background-image: none;
  background-color: transparent ! important;
}

#newsbrief #region-content h2,
#newsletter #region-content h2,
#newsedit #region-content h2
{
  text-transform: none;
}

#newsbrief #block-colophon.fixed,
#newsletter #block-colophon.fixed,
#newsedit #block-colophon.fixed
{
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fcfcfc ! important;
  text-align: center;
-moz-box-shadow:    inset 0 10px 10px -10px #999;
-webkit-box-shadow: inset 0 10px 10px -10px #999;
  box-shadow:       inset 0 10px 10px -10px #999;
  z-index: 500;
} /*
  left: auto;
  width: 780px;
  */

#newsbrief .index>#region-content>.col-content-left,
#newsletter .index>#region-content>.col-content-left,
#newsletter .index>#region-content>.col-content-right
{
  margin-top: 14px;
}

/*
#newsbrief #block-colophon,
#newsletter #block-colophon,
#newsedit #block-colophon
{
  top: 1.5em;
-moz-box-shadow:    inset 0 10px 10px -10px #999;
-webkit-box-shadow: inset 0 10px 10px -10px #999;
  box-shadow:       inset 0 10px 10px -10px #999;
}
*/

/* ----------------------------------------------------------------- */
/* -- BLOCK NEWSISSUE                                                */
/* ----------------------------------------------------------------- */

#block-newsissue
{
  display: block;
  position: absolute;
  top:    2px;
  right:  auto;
  bottom: auto;
  left:   0;
  width:  180px;
  height: 30px;
  z-index: 9;
  margin:  0;
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height:1em;
  background-color: #fcfcfd;

font-size:28px;
font-family:"Cambria","Georgia","Times New Roman","Times","Constantia",serif ! important;
} /* font-size: not too large, or it will overflow in eg. Chrome and Opera */

/* ---------------------------------------------------------------- */
/* -- NEWS LIST WIDGET                                           -- */
/* ---------------------------------------------------------------- */

/*
.newslist
{
  margin-top: -1em ! important;
} *//*
  margin-top: compensate div top padding
  */

.newslist div.article
{
  margin-bottom: 3em ! important;
}
.newslist div.article+div.article
{
  padding-top: 2em;
  border-top: 1px dotted #999 ! important;
}

.newslist h3
{
  margin-bottom: -0.5em ! important;
}

/*
.newslist p>a:first-child>img,
.newslist p>img:first-child
{
  float: left;
  margin: 0 20px 2em 0;
}
*/

.newslist p,
.newslist dt,
.newslist dd,
.newslist li,
.newslist th,
.newslist td,
.newslist blockquote
{
  font-size: 1.1em ! important;
}
.newslist .date,
.newslist .articleauthor,
.newslist .comments,
.newslist .caption,
.newslist .social-footer,
{
  font-size: 1em ! important;
}


.newslist .social-footer .nowrap
{
  position: relative;
  top: -1em;
}

/*
.newslist p,
.newslist blockquote
{
  margin-bottom: -1em;
} */

.newslist .comments,
.newslist .comments+div
{
  display: inline-block;
}
.newslist p.comments
{
  margin-top: 0 ! important;
  margin-right: 1em ! important;
  margin-bottom: 0 ! important;
}
.newslist .articleauthor+.comments
{
  margin-left: 1em ! important;
}
.newslist p.comments a
{
  font-weight: normal;
}
.newslist p.caption
{
  margin-top: -1em;
  margin-bottom: 1em ! important;
  line-height: 1.1em ! important;
} /*
  margin-top: -1em
  */

.newslist p.date
{
  margin-bottom: 0.5em;
  color: #666;
}
/*
.newslist p+p
{
  text-indent: 1em;
}
.newslist p.noindent
{
  margin-top: 2em;
  margin-bottom: -0.5em;
  text-indent: 0em;
}
.newslist .date+p,
.newslist blockquote+p,
.newslist p.caption,
.newslist p.caption+p,
.newslist p.noindent+p
{
  text-indent: 0em;
} */

.newslist blockquote
{
  position: relative;
  left: 1em;
} /*
  left: strange bugfix
  */

.newslist .caption,
.newslist .date>.cat
{
  font-style: italic;
}
.newslist p a,
.newslist dt a,
.newslist dd a,
.newslist li a,
.newslist th a,
.newslist td a,
.newslist blockquote a
{
  font-weight: bold;
}

.newslist .date>.cat:before
{
  content: "\00A0\00A0|\00A0\00A0\00A0";
}

/* ---------------------------------------------------------------- */


#commentlist h2,
#commentlist h3,
#commentlist h4
{
  margin: 2em 0 1em 0 ! important;
  padding: 1em 0 0 0;
  clear: both ! important;
  border-top: 1px solid #ccc;
-moz-box-shadow:    inset 0 10px 10px -10px #999;
-webkit-box-shadow: inset 0 10px 10px -10px #999;
  box-shadow:       inset 0 10px 10px -10px #999;
}
#commentlist h2.plain,
#commentlist h3.plain,
#commentlist h4.plain
{
  margin:  0 ! important;
  padding: 0;
  border-top: 0 solid transparent;
-moz-box-shadow:    none;
-webkit-box-shadow: none;
  box-shadow:       none;
}
#commentlist table
{
  width: 100%;
  border-spacing: 0;
  empty-cells: show;
  border-bottom: 1px dotted black;
}
#commentlist td p,
#commentlist input[type=submit]
{
  font-size: 1.0em ! important;
}
#commentlist td
{
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #f5f5f9;
}
#commentlist .byauthor td
{
  background-color: #eaeaef;
}
#commentlist td:first-child
{
  width: 50px;
  vertical-align: bottom;
}
#commentlist .topborder td:first-child
{
  vertical-align: top;
  padding-right: 0.5em;
  text-align: right;
}
#commentlist .photo
{
  margin-bottom: 0.6em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
#commentlist .photo>img
{
  width: 48px;
}
#commentlist .name
{
  margin-top: 0.8em;
  margin-bottom: 0;
  font-size: 1.2em ! important;
  font-weight: bold;
  font-family:"Trebuchet MS","Calibri","Verdana","Geneva","Arial","Helvetica",sans-serif ! important;
}
#commentlist .time
{
  font-size: 0.895em ! important;
  font-style: italic;
  margin-bottom: 0.5em;
  color: #999;
}
#commentlist .text
{
  margin-bottom: 0;
  color: #666;
}

#commentlist form
{
  padding-bottom: 1em;
}
#commentlist form .errormessage+textarea
{
  margin-top: 1em;
}

/* #commentlist .photo,
#commentlist .name, */
#commentlist .topborder td
{
  padding-top: 0.5em;
  border-top: 1px dotted black;
}

/* ---------------------------------------------------------------- */

p+.social-footer,
blockquote+.social-footer
{
  margin-top: 2.5em;
}
.campaign p+.social-footer,
.campaign blockquote+.social-footer
{
  margin-top: 2em;
}

.social-footer
{
  margin-bottom: 4em;
  padding: 0.5em 0 0 0;
  clear: both ! important;
  text-align: right;
  border-top: 1px solid #ccc;
-moz-box-shadow:    inset 0 10px 10px -10px #999;
-webkit-box-shadow: inset 0 10px 10px -10px #999;
  box-shadow:       inset 0 10px 10px -10px #999;
}

.social-footer>div,
.social-footer>p
{
  display: inline-block;
  padding: 0em 0 0 1em;
  color: #666;
  font-style: italic;
}

/* ---------------------------------------------------------------- */
/* -- NEWSITEM CLASS
/* ---------------------------------------------------------------- */

.newsitem
{
  margin-bottom: 1em;
}

div+div.newsitem
{
  margin-top: 1em;
}

h3+.newsitem,
.newsitem>h3+*
{
  margin-top: 0.5em ! important;
} /*
  margin-top: distance to h3
  */

.newsitem p,
.newsitem li,
.newsitem div
{
  font-size: 1.1em ! important;
}

.newsitem p
{
  margin: 0;
}

.newsitem p+p
{
  text-indent: 1.5em;
}

.newsitem img.portrait,
.newsitem img.floatleft
{
  margin: 8px 15px 10px 0 ! important;
  float: left;
}

/* ---------------------------------------------------------------- */
/* -- NEWS ARTICLE EDIT FORM                                     -- */
/* ---------------------------------------------------------------- */

form#newsarticle h4
{
  margin-bottom: 0.5em;
}
form#newsarticle h4+p
{
  margin-top: 0;
}

form#newsarticle input[type=text],
form#newsarticle select
{
  font-size: 1.0em;
}

form#newsarticle table
{
  width: 99%;
}
form#newsarticle td
{
  font-size: 0.84em;
}

form#newsarticle table.checkbox
{
  width: 49%;
  float: left;
}
form#newsarticle table.checkbox td:first-child
{
  width: 1em;
}

form#newsarticle option:first-child
{
  font-style: italic;
  border-bottom: 1px dotted black;
}

/* ---------------------------------------------------------------- */

.campaign .deadline,
.campaign .pdf,
.campaign .apply
{
  font-weight: bold;
}

.campaign p,
.campaign p+ul
{
  margin-bottom: -1em;
}
.campaign p+dl
{
  margin-top: 2em;
}
.campaign p+p
{
  text-indent: 2em;
}

h2+.campaign
{
  margin-top: 2em ! important;
}
.campaign+.campaign
{
  margin-top: 2em;
}

/* ---------------------------------------------------------------- */

.upcomingevents h3
{
  margin-bottom: 1.5em ! important;
}

.upcomingevents h4+p
{
  text-indent: 0em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.upcomingevents p+p
{
  text-indent: 0em;
  margin-top: 0.5em;
}

.upcomingevents p>img
{
  float: left;
  margin: 0 20px 1em 0;
}

/* style='clear:both;padding:-0.5em 1em 1em 1em;' class='noindent box roundcorners grayborder shadow' */

/* ---------------------------------------------------------------- */

.institute-image
{
  margin-bottom:  3em ! important;
  padding-bottom: 2em ! important;
  border-bottom: 1px dotted #999;
}

.institute-image .caption
{
  font-size: 1em ! important;
  font-style: italic ! important;
}
