/* ================================================================= */
/*                                                                   */
/* CSS/PRINT.CSS                                                     */
/*                                                                   */
/* Hans Mühlen / 2007-08-13 -- 2012-07-10                            */
/*                                                                   */
/* ================================================================= */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*                                                                   */
/*  *** WORK IN PROGRESS! ***   Do not copy or comment!              */
/*                                                                   */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#container-viewport,
#region-bartop,
#region-barright,
#region-barbottom,
#region-barleft,
#region-topmargin,
#region-headlineright,
#region-headlineleft,
#region-top,
#region-columnleft,
#region-columnright, /* but display in 'news' */
#block-searchfield,
#block-leftimage,
#block-contentheading>h1>a,
#block-subsiteheadline,
#colophon-howtogethere,
#colophon-footprint,
#colophon-support,
#region-headlineleft .onetab h2,
.seealso,
#travel #container-fixed,
#travel #region-headlinecenter,
#travel #block-colophon,
#newsletter #commentlist,
#newsletter .comments,
#newsletter .socialmedia-sprite,
#newsletter #block-colophon
{
  display: none;
  position: absolute;
  visibility: hidden;
  height: 0;
  margin:  0 ! important;
  padding: 0 ! important;
}

#container-fixed,
#container-scrolled
{
  display: inline;
  position: static;
  top:  0;
  left: 0;
  margin:  0 ! important;
  padding: 0 ! important;
  width: auto;
}

#region-banner
{
  position: relative;
  top: -10px;
  width:  100%;
  height:  auto;
  margin:  0 0 2em 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid black;
}

#block-logo p
{
  top: 10px;
  margin-left: 0;
}
#block-logo h1
{
  left: 90px;
  background-color: transparent;
}
#block-logo h2,
.wide #block-logo h2
{
  display: block;
  position: relative;
  visibility: visible;
  float: none ! important;
  top: -0.5em;
  left: 110px;
  right: auto;
  margin:  0;
  padding: 0;
  font-size: 1.5em ! important;
  z-index: 100;
}
#block-logo>h2>span
{
  display: inline;
  position: static;
  top: auto;
  left: auto;
  font-size: inherit ! important;
}

#region-headlinecenter
{
  display: block;
  position: relative;
  overflow: visible;
  clip:     inherit ! important;
  top:  0;
  left: 0 ! important;
  width:  auto;
  height: auto ! important;
  margin:  0 ! important;
  padding: 0 ! important;
  border: 0px solid black;
}
#region-headlinecenter + #region-content
{
  top: 0;
}

#block-contentheading
{
  display: block;
  position: relative;
  top:  0;
  left: 0;
  margin:  -1em 0 3em 0 ! important;
  padding: 0 ! important;
  width: auto;
}
#block-contentheading h1
{
  font-size: 3.2em; /* 2.8em; */
  font-weight: bold;
  max-width: 590px;
}

#region-content,
.medwide #region-content,
.wide #region-content
{
  display: block;
  position: relative;
  top:  0;
  left: 0;
  margin:  0 ! important;
  padding: 0 ! important;
  min-width: 0;
  width: auto;
  font-size: 1.1em;
  background-color: transparent ! important;
  background-image: none  ! important;
} /*
  border-top: 1px solid black;
  */

#region-content .col-content-center,
#region-content .col-content-left,
#region-content .col-content-right,
.col-content-1,
.col-content-2,
.col-content-3,
.col-content-12,
.col-content-30,
.col-content-1of2,
.col-content-2of2,
.col-content-1of3,
.col-content-2of3,
.col-content-3of3,
.col-content-1of4,
.col-content-2of4,
.col-content-3of4,
.col-content-4of4,
.col-content-left2thirds,
.col-content-right1third
{
  display: block;
  float: none;
  clear: both;
  width: auto;
  height: auto;
  padding-left: 0;
}
#region-content .col-content-center,
#region-content .col-content-left,
#region-content .col-content-right
{
  display: block;
  float: none;
  clear: both;
  width: auto;
  height: auto;
  padding-left: 0;
}
#region-content .col-content-left+.col-content-right
{
  margin-top: 1em ! important;
}

#region-content h2,
#region-content h3,
#region-content h4
{
  font-weight: bold ! important;
  page-break-after: avoid;
}

#block-colophon
{
  display: block;
  float: none;
  clear: both;
  top:    2em;
  bottom: auto;
}
#block-colophon #colophon-links
{
  margin-top: -1em ! important;
}
#block-colophon #colophon-links .only_print>span
{
  font-weight: bold;
}

/*
#block-backdropnavigation,
#block-bannerimage,
#block-breadcrumb,
#block-colophonaddress,
#block-colophonfootprint,
#block-debugmenu,
#block-dropdown,
#block-dynside,
#block-feed,
#block-fixedimage,
#block-fixedsprite,
#block-fulltree,
#block-indexcolumns,
#block-leftimage,
#block-logininfo,
#block-logo,
#block-minimenu,
#block-sidebar,
#block-sidebarboxes,
#block-skiptocontent,
#block-subsiteheadline,
#block-subtree,
#block-tabalt,
#block-tabbox,
#block-tabs,
#block-topmenu,
#block-twotop
{
}
*/


/* ----------------------------------------------------------------- */
/* -- IMPORTED STYLE SHEETS ---------------------------------------- */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* -- REDEFINITION OF HTML ELEMENTS                               -- */
/* ----------------------------------------------------------------- */

/* html, */ /* for XHTML */
body
{
  height: auto ! important;
  margin:  0 ! important;
  padding: 0 ! important;
  color:            black;
  background-color: white ! important;
  background-image: none  ! important;
}

a,
a>strong
{
  color: #010101 ! important; /* must not be exactly #000 */
  /* text-decoration: underline; */
  font-weight: inherit;
}
.index a
{
  text-decoration: none;
}

ul,
li
{
  margin-left: auto ! important;
}

#block-logo h1,
#block-logo h2
{
  text-shadow: none ! important;
}

/* ----------------------------------------------------------------- */
/* -- DEFINITION OF CLASSES                                       -- */
/* ----------------------------------------------------------------- */

/* -- SIMULATION OF LINE BREAK -- */

.only_online
{
  display: inline;
  position: absolute ! important;
  visibility: hidden;
}

.only_print
{
  display: inherit;
  position: static ! important;
  visibility: visible;
}

.shadow,
.lightshadow,
.darkshadow,
.shadow-inset,
.shadow-whiteinset,
.darkshadow-whiteinset,
.eventlist h3,
.event-box .subbox,
.event-box .subbox .img img,
.widget,
.widget h3,
.program-box .txt,
#region-columnleft #apod img,
#region-columnright #apod img,
.col-content-right1third #apod img,
#agenda.widget_table table,
#agenda.widget_table table th,
#currentfromagenda dl,
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
input[type=number],
input[type=range],
input[type=submit],
input[type=reset],
input[type=checkbox],
.faketextfield,
.fakebuttonbutton,
textarea,
.box.msubmenu,
.box.widget,
.papersurface,
.box.paper,
.box.paper.shadow:before,
.box.paper.shadow:after,
.onetab,
.onetab h2,
.onetab h2+div,
#region-content .onetab h2+div,
#jtabs.htabs li,
.ui-icon,
#block-feed .socialmedia-sprite,
#block-modalbox #nw_login,
#block-topmenu li,
#block-topmenu li.expanded,
#block-topmenu li:hover>a,
#block-sidebarboxes h3,
#block-skiptocontent p,
#minimenu img
{
-moz-box-shadow:    none ! important;
-webkit-box-shadow: none ! important;
  box-shadow:       none ! important;
}

#region-content .divider
{
  border-left: 0px solid transparent;
}

/* ----------------------------------------------------------------- */
/* -- DEFINITION OF OTHER BOX PROPERTIES                          -- */
/* ----------------------------------------------------------------- */

#block-backdropscrollprotect,
#block-backdropnavigation,
#appendix-pageextension,
#form_people_search,
#div-banner-login,
#div-bannerlogo h2 br,
#div-maincontentheading h2 a img,
#doorlabel>#container-fixed,
#doorlabel #block-contentheading
{
  display: none;
  position: absolute;
  visibility: hidden;
  margin:  0 ! important;
  padding: 0 ! important;
}

#div-maincontent,
#index-content
{
  display: inline;
  position: static;
}

.widget,
#agenda
{
  width: 95% ! important;
  max-width: none ! important;
  float: none ! important;
}


/* -- banner ------------------------------------------------- */

#div-bannerlogo
{
  overflow: visible ! important; /* problems in Opera for two-line <h2> */
}

#div-bannerlogo p
{
  display: block ! important;
  position: absolute ! important;
  left: 20px;
  top:  10px;
  margin: 0;
}

#div-bannerlogo h1
{
  display: block ! important;
  position: absolute ! important;
  left:   110px;
  top:    5px;
  margin: 0;
}

#div-bannerlogo h2
{
  display: block ! important;
  position: absolute ! important;
  font-size: medium;
  left: 110px;
  top:  55px;
  margin: 0;
}

#div-bannerlogo h2 span
{
  position: relative;
  top:  0;
  left: 0;
}
#div-bannerlogo h2 span:after
{
  content: " ";
}

#div-bannerlogo a
{
  color: #000;
  background-color: transparent;
}

/* -- BLOCK-BOXES ------------------------------------------------- */

.widget
{
  position: static;
  width:  auto;
  height: auto;
}

.widget .seealso
{
  display: inline;
  position: absolute ! important;
  visibility: hidden;
}

/* -- main --------------------------------------------------- */

#div-colophonaddress
{
  border-top: 0 solid black;
  padding-top: 5px;
}

/* -- INDEX PAGE BLOCKS -------------------------------------------- */

#index-content
{
  left: 0 ! important;
  margin-right: 0 ! important;
}

/* -- PEOPLE LIST -------------------------------------------- */

#people-list h2
{
  margin-bottom: 1em;
}

#people-list div.chart
{
  width: auto;
}

#people-list div.chart .people-box
{
  width: 210px ! important;
  margin: 0 0.5em 0 0 ! important;
  font-size: 80% ! important;
  border-width: 0 ! important;
  height: 170px ! important;
  min-height: 100px ! important;
}
#people-list div.chart .people-box.medium .img
{
  top:  0;
  left:   -10px;
}

#people-list h3
{
  border-width: 0;
-moz-box-shadow:    none;
-webkit-box-shadow: none;
  box-shadow:       none;
-moz-border-radius:    0;
-webkit-border-radius: 0;
  border-radius:       0;
}

#people-list .pgbr
{
  page-break-after:always;
}

#people-list .img.leaveofabsence img
{
  opacity: 1.0;
}

/* -- YB CALENDAR CLASSES ------------------------------------------ */

table.myIcal,
table.ical /* legacy */
{
  border-spacing: 0 ! important;
}

.myIcal td,
.ical td /* legacy */
{
  border-width: 1px ! important;
  border-style: solid ! important;
  border-color: #ddd;
}
.myIcal .myIcal_name,
.myIcal .myIcal_right
{
  border-color: #fff ! important;
}
.myIcal .myIcal_weekend
{
  border-color: #000 ! important;
}

.myIcal td[colspan],
.ical td[colspan] /* legacy */
{
  border-width: 1px ! important;
  border-style: solid ! important;
  border-color: #000100 ! important; /* must not be exactly #000 */
}

.myIcal a,
.ical a /* legacy */
{
  text-decoration: none ! important;
  color: #000100 ! important; /* must not be exactly #000 */
}

/* -- PEOPLE CHART PRINTOUT ---------------------------------------- */

#maildb_chart
{
  color: #000001; /* must not be exactly #000 */
}

/* -- LIST OF ALL PROGRAMS ---------------------------------------- */

.program .img
{
  position: relative;
}






/* ----------------------------------------------------------------- */
/* -- STARTPAGE                                                      */
/* ----------------------------------------------------------------- */

/* -- REGION CONTENT ----------------------------------------------- */

#startpage .col-content-left,
#startpage .col-content-right,
#startpage .col-content-1of4,
#startpage .col-content-3of4
{
  display: block;
  position: relative;
  overflow: visible;
  clip:     inherit ! important;
  visibility: visible;
  float: none;
  clear: none;
  top:    auto;
  right:  auto;
  bottom: auto;
  left:   auto;
  width:  auto;
  height: auto;
  z-index: 140;
  margin:  0;
  padding: 0;
}

#startpage .col-content-left
{
  float: left;
  clear: both;
  width:  45%;
  margin-bottom: 1.0em ! important;
}
#startpage .col-content-right
{
  float: right;
  width:  45%;
  margin-bottom: 1.0em ! important;
  padding-left: 5%;
}
#startpage #region-content .col-content-left+.col-content-right
{
  margin-top: 0 ! important;
}


/*
#startpage #region-content .col-content-center
{
  float: none;
}
#startpage #region-content .col-content-left
{
  float: left;
  width:  45%;
  padding-left: 0;
}
#startpage #region-content .col-content-right
{
  float: right;
  width:  45%;
  padding: 0 0 0 5%;
}
#startpage #region-content .col-content-left+.col-content-right
{
  margin-top: 0 ! important;
}
*/

/* -- ERBOX CLASS ------------------------------------------------- */

/* #startpage .erbox>h2.large
{
  margin-bottom: 0 ! important;
}

.erbox>.box
{
  padding: 0 0 0 10px;
} */

#startpage .erbox>.box
{
  padding: 0;
}

#startpage .erbox>.lift
{
  margin-top: inherit;
  min-height: auto;
}

#startpage .erbox>.grayborder
{
  border: 0 solid transparent;
}

#startpage .erbox table
{
  position: static;
  top: 0;
  width: 100%;
  height: auto ! important;
  margin:  0 0 1em 0 ! important;
  padding: 0 ! important;
}

#startpage .erbox td
{
  display: block;
  position: relative;
  width: auto;
  padding: 0 5px 0.5em 0 ! important; /* padding: 0 15px 5px 0; */
  line-height: 1.0;
  text-align: left;
}

#startpage .erbox .rimg
{
  margin-top: -0.5em;
}
#startpage .erbox .rimg>div
{
  float: none;
}
#startpage .erbox .rimg>.label
{
  display: list-item;
  max-width: 100%;
  margin-top: 0;
  margin-left: 2.5em;
  margin-bottom: 0;
}

#startpage .erbox .rimg>.research-sprite,
#startpage .erbox .rimg>.science-sprite
{
  display: none;
  position: absolute;
  visibility: hidden;
  margin:  0 ! important;
  padding: 0 ! important;
}

/*
#startpage #programsintro
{
  padding-top: 2em;
  height: auto;
border: 1px solid red;
}
#startpage #programsintro.erbox table
{
  width: auto;
  margin-top: inherit;
}
*/

#programsintro .ultable
{
  margin-bottom: -0.5em;
  padding: 0;
  width: auto;
}

#programsintro .ultable ul
{
  margin: 0 ! important;
  padding-top: 0 ! important;
  padding-bottom: 0 ! important;
}

#programsintro .ultable li
{
  margin-left: -0.5em ! important;
  margin-bottom: 0.7em;
  list-style-type: disc;
}
#programsintro .ultable .listlink
{
  display: none;
  position: absolute;
  visibility: hidden;
  margin:  0 ! important;
  padding: 0 ! important;
}


#startpage #currentevent
{
  width: auto;
  float: none;
  margin-bottom: 1.5em ! important;
}

#startpage #researchprofile .img
{
  position: absolute;
  margin-top: 0 ! important;
}
#startpage #researchprofile p+p
{
  position: relative;
  left: 120px;
  margin-right: 120px;
  width: auto;
  min-height: 130px;
}

/* -- ACCORDIONBOX CLASS -------------------------------------------- */

#region-headlineleft .onetab
{
  height: auto ! important;
  padding: 0 ! important;
}

#region-headlineleft .onetab h2+div
{
  display: box;
  position: relative;
  top: 0;
  padding-top: 0 ! important;
  background-color: transparent;
  border-top: 0px solid #999;
-moz-box-shadow:    inset 0 10px 10px -10px #333;
-webkit-box-shadow: inset 0 10px 10px -10px #333;
  box-shadow:       inset 0 10px 10px -10px #333;
}

#region-headlineleft .onetab h2+div>div
{
  display: box;
  position: relative;
  float: left;
  width: 30%;
  padding: 0 2em 1em 0;
}

#region-content table + .onetab
{
  display: block ! important;
  position: static ! important;
  height: auto;
}

#startpage #region-content .accordionbox
{
  position: static ! important;
}

#startpage #region-content .onetab
{
  position: static ! important;
  xborder-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#startpage #region-content .onetab h2+div
{
  display: block ! important;
  position: static ! important;
  padding: 1em 0 0 0;
  border-width: 0;
  background-color: transparent;
-moz-box-shadow:    none;
-webkit-box-shadow: none;
  box-shadow:       none;
-moz-border-radius:    0;
-webkit-border-radius: 0;
  border-radius:       0;
}

#startpage #region-content h2.ui-accordion-header,
#startpage #region-content .onetab>h2
{
  display: none;
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  margin:  0 ! important;
  padding: 0 ! important;
}

#startpage .samplebox
{
  position: static ! important;
}

#startpage .samplebox > div
{
  position: static ! important;
  float: none;
  margin-bottom: auto;
  width: auto;
}
#startpage .samplebox > div + div
{
  position: static ! important;
  float: none;
  padding-left: 0;
  border-left: 0 dotted transparent;
}

/* -- BOX CLASS --------------------------------------------------- */

#startpage .box.paper
{
  width: 90% ! important;
  margin-top: 0.5em;
  margin-left: 10px;
  padding-bottom: 0.5em ! important;
  background-image: none;
  border: 1px solid #999;
}
#startpage .box.paper .title,
#startpage .box.paper .author,
#startpage .box.paper .abstract
{
  width: auto;
  background-image: none;
}

/* -- */

#startpage #eventbox>div,
#startpage #block-colophon>div,
#startpage .extended #colophon-long-address,
#startpage .extended #colophon-footprint,
#colophon-governance
{
  display: block;
  position: static;
  top: 0 ! important;
  float: left ! important; /* VERY strange bugfix */
  margin-right: 0;
  text-align: left;
}

#startpage #eventbox div+div
{
  margin-top: 3em; /* strange bugfix */
  margin-bottom: -1em ! important;
}

/* -- BLOCK COLOPHON -------------------------------------------- */

#startpage #block-colophon.extended
{
  clear: both;
  top: auto;
  bottom: auto;
  margin: 0 0 1.5em 0 ! important;
  padding: 1.5em 0 0 0 ! important;
  border-width: 1px 0 0 0;
  border-color: black;
-moz-border-radius:    0;
-webkit-border-radius: 0;
  border-radius:       0;
-moz-box-shadow:    none;
-webkit-box-shadow: none;
  box-shadow:       none;
  background-color: transparent ! important;
  background-image: none;
  page-break-before: always; /* ugly fix */
}

#startpage #block-colophon.extended .col-content-2of4
{
  float: left;
  clear: none;
  top:  0;
  left: 0;
  width:  auto ! important;
  padding-right: 4em;
}
#startpage #block-colophon.extended .col-content-1of4,
#startpage #block-colophon.extended .col-content-3of4
{
  display: none;
  position: absolute;
  float: left;
  visibility: hidden;
  margin:  0 ! important;
  padding: 0 ! important;
}
#startpage #block-colophon.extended .col-content-4of4
{
  float: right;
  clear: none;
  top:  0;
  width: auto;
  margin-top: 0 ! important;
}
#startpage #colophon-printdate
{
  float: none;
  clear: both;
  overflow: visible ! important;
  clip:     inherit ! important;
  top:  50px;
  left: 0 ! important;
  width: 99%;
  height: auto;
  margin-top: 1.5em ! important;
  page-break-inside: avoid;
  border-top: 1px solid black;
  color: #666;
}
#startpage #colophon-printdate span
{
  font-weight: bold;
}

#startpage #block-colophon.extended h4
{
  font-size: 1.4em;
}

#startpage #colophon-long-address p
{
  font-size: 1.0em;
}

#startpage #colophon-governance
{
  width: 100% ! important;
}
#startpage #colophon-governance table
{
  width: 100%;
}
#startpage #colophon-governance td
{
  display: block;
  float: left;
  width: auto;
  font-size: 1.2em;
}
#startpage #colophon-governance td + td
{
  padding-left: 2em;
}
#startpage #colophon-governance td>p
{
  margin-bottom: 1em;
}

/* -- TRAVEL ------------------------------ */

#travel
{
  xfont-size: xx-small;
}

#travel .kth-form
{
  width: auto;
  margin: 0 ! important;
  padding: 0;
  border: 0px solid black;
}

#travel #region-content,
#travel .medwide #region-content,
#travel .wide #region-content
{
  margin: 0 ! important;
  padding: 0 ! important;
  font-size: 1.0em;
  border-top: 0 solid transparent;
}

/* -- NEWSLETTER -------------------------- */

#newsletter,
#newsbrief,
#newsedit
{
  background-color: white ! important;
  background-image: none  ! important;
}

.newslist p,
.newslist blockquote
{
  margin-bottom: -1em;
}
.newslist p.caption
{
  margin: 5px 0 1em 0 ! important;
  line-height: 1.1em ! important;
}
.newslist p+p
{
  text-indent: 1em;
}
.newslist p.noindent
{
  margin-top: 2em;
  margin-bottom: -0.5em;
  text-indent: 0em;
}
.newslist .date+p,
.newslist blockquote+p,
.newslist p.caption,
.newslist p.caption+p,
.newslist p.noindent+p
{
  text-indent: 0em;
}

.social-footer
{
-moz-box-shadow:    none;
-webkit-box-shadow: none;
  box-shadow:       none;
}

