.mytwig_login{
  position: absolute;
  right: 0;
  font-size: smaller;
  font-style: italic;
  color: #000;
}

.mytwig_login li{
  color: #000;
  list-style: none;
}

.mytwig_login li a{
  color: #000;
  font-weight: bold;
}

.mytwig_login li a:hover{
  color: #ff0000;
  font-weight: bold;
}
