/**
 * @file
 * Nordita logo styling.
 */

#sprite-img {
    display: none;     
}

@media all and (min-width: 560px) {
#sprite-img{
    display: block ! important;
    max-width: 100%;
    padding-top: 1.5em;
}

#div-nordita-logo {
    margin-left: 10%;
}

@media all and (min-width: 560px) {
#div-nordita-logo {
    margin-left: 0 ! important;
}


#nordita-logo {
    display: block;
    width: 100%;
/*
    position: relative;
    left: 0;
    height: 98px;
    overflow: hidden;
*/
    max-height: 98px;
    z-index: 50;
    white-space: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
}
#nordita-logo td {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    vertical-align: middle;
}
#nordita-logo h1 {
/*
    position: absolute;
    top: 17px;
    left: 85px;
    bottom: 8px;
    font-size: 71px !important;
*/
    font-size: 6.438em !important;
    font-weight: normal;
    font-family: "Baskerville", "Times", "Times New Roman", serif;
    margin-left: 1em;
    float: none !important;
    z-index: 10;
    background-color: transparent;
    line-height: 1 !important;
    color: #000 !important;
}
#nordita-logo h2 {
    display: inline;
/*
    position: absolute;
    visibility: visible;
    float: none !important;
    top: 28px;
    left: 470px;
    margin-left: 20px;
    font-size: 30px !important;
*/
    font-size: 2.2em !important;
    font-weight: normal;
    font-family: "Times", "Times New Roman", serif;
    color: #000 !important;
    background-color: transparent;
    line-height: 1 !important;
    z-index: 1;
}
.th-black #nordita-logo h1,
.th-black #nordita-logo h2 {
    text-shadow: none !important;
}
