/* ================================================================= */
/*                                                                   */
/* CSS/2011/WDCALENDAR.CSS                                           */
/*                                                                   */
/* WDCALENDAR v.1.4                                                  */
/* (c) WebAppers, LGPL                                               */
/* modified by Hans Mühlen / 2012-05-29 -- 2012-05-29                */
/*                                                                   */
/* ================================================================= */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*                                                                   */
/*  *** WORK IN PROGRESS! ***   Do not copy or comment!              */
/*                                                                   */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */


#block-wdcalendar
{
  display: block;
  position: absolute;
  overflow-y: visible; 
}
#block-wdcalendar table
{
  overflow: hidden;
  table-layout: fixed;
  border-spacing: 0;
}

/* ----------------------------------------------------------------- */

#div-top
{
  width: 100%;
  height: 25px;
}
#div-top td
{
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #eee;
  border: 1px solid #ddd;
}
#div-top th
{
  width: 62px;
}

/* ----------------------------------------------------------------- */

#div-times 
{
  display: block;
  position: absolute;
  overflow: hidden;
  top: 30px;
  width: 59px;
  padding: 0 1px 0 1px;
  font-size: 11px;
  text-align: right;
  vertical-align: top;
  color: #468;
  background-color: #eee;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #ddd;
  z-index: 100;
}
#div-times>div 
{
  height: 41px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
}

/* ----------------------------------------------------------------- */

#div-hourmarkers 
{
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  z-index: 90;
}
.tg-dualmarker 
{
  height: 1em;
  line-height: 1em;
  border-top: 1px solid #ddd;
  border-bottom: 1px dotted #ddd;
  margin-bottom: 1em;
}

/* ----------------------------------------------------------------- */

#div-timedevents 
{
  position: absolute;
  width: 100%;
  top: 30px;
  height: 588px;
  background-color: transparent;
  z-index: 95;
} /*
  height: 42 * #hours
  */  
#div-timedevents th
{
  width: 60px;
}

.tg-col 
{
  position: relative;
  top: 0;
  overflow: hidden;
  vertical-align: top;
  border-left: 3px double #ddd;
}

.tg-col>.tg-today 
{
  height: 2000px;
  margin-bottom: -2000px; 
  background-color: #ffc;
  opacity: 0.3;
  filter:alpha(opacity=30);
}

.tg-col>.tg-col-overlaywrapper 
{
  position: relative;
  height: 0;
}

.tg-col>.tg-col-eventwrapper 
{
  position: relative;
  width: 100%;
  height: 2000px;
  margin-bottom: -2000px; 
  cursor: default;
}


/* ----------------------------------------------------------------- */

.chip 
{
  position: absolute;
  overflow: hidden;
  width: 100%;
  cursor: default;
  color: #fff;
-moz-border-radius:    5px;
-webkit-border-radius: 5px;
  border-radius:       5px;
-moz-box-shadow:    0 4px 5px -2px #666;
-webkit-box-shadow: 0 4px 5px -2px #666;
  box-shadow:       0 4px 5px -2px #666;
}
.chip dl 
{
  overflow: hidden;
  margin: 0;
}
.ie6 .chip dl 
{
  zoom: 1;
}
.chip dt 
{
  overflow: hidden;
  padding-left: 0.5em;
  text-align: left;
  white-space: nowrap;
-moz-border-radius:    5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
  border-radius:       5px 5px 0 0;
-moz-box-shadow:    0 4px 5px -2px #333;
-webkit-box-shadow: 0 4px 5px -2px #333;
  box-shadow:       0 4px 5px -2px #333;
}
.ie6 .chip dt 
{
  width: 100%;
  margin-right: -1px;
}
.chip dd 
{
  overflow: hidden;
  margin: 0;
  padding-left:0.5em;
  text-align: left;
  xfont: 100%/1.3em Verdana, Sans-serif;
  word-wrap: break-word;
}
.chip a:link, 
.chip a:visited, 
.chip a:active 
{
  text-decoration: none;
  color: #fff;
}

.chip.c-red { background-color: #e67399; }
.chip.c-red dt { background-color: #b1365f; }

.chip.c-darkred { background-color: #d96666; }
.chip.c-darkred dt { background-color: #a32929; }

.chip.c-yellow { background-color: #e0c240; }
.chip.c-yellow dt { background-color: #ab8b00; }

.chip.c-orange { background-color: #f2a640; }
.chip.c-orange dt { background-color: #be6d00; }

.chip.c-olive { background-color: #bfbf4d; }
.chip.c-olive dt { background-color: #88880e; }

.chip.c-green { background-color: #8cbf40; }
.chip.c-green dt { background-color: #528800; }

.chip.c-darkgreen { background-color: #4cb052; }
.chip.c-darkgreen dt { background-color: #28754e; }

.chip.c-teal { background-color: #59bfb3; }
.chip.c-teal dt { background-color: #1b887a; }

.chip.c-darkteal { background-color: #65ad89; }
.chip.c-darkteal dt { background-color: #28754e; }

.chip.c-blue { background-color: #668cd9; }
.chip.c-blue dt { background-color: #2952a3; }

.chip.c-darkblue { background-color: #668cb3; }
.chip.c-darkblue dt { background-color: #29527a; }

.chip.c-purple { background-color: #b373b3; }
.chip.c-purple dt { background-color: #7a367a; }

.chip.c-darkpurple { background-color: #8c66d9; }
.chip.c-darkpurple dt { background-color: #5229a3; }

/* ----------------------------------------------------------------- */

.tg-nowmarker 
{
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  border-top: 2px solid #d31;
  opacity: 0.4;
  filter:alpha(opacity=40);
}

.tg-nowptr 
{
  display: block;
  position: absolute;
  overflow: visible;
  left: 0;
  width:  10px;
  height: 7px;
  margin-top: -3px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-image: url("./img/arrow_right_d31_10x7.png");
  border-width: 0 ! important;
}



