/*
 * Hans' tabs
 */

.tabs.primary   { z-index: 92; } /* 110 if want.tabs.primary over banner dropshadow, 90 if under */

.tabs.secondary { z-index: 91; } /* 110 if want.tabs.primary over banner dropshadow, 90 if under */

.tabs{
    position: relative;
/*  left: 10px;    top: 111px; */
    left: 10;      top: 111; 
    margin-left:  20px;
    margin-right: 20px;
}

.tabs ul{
    position: absolute; 
    top: 0px;
    left: 0px;
    list-style-image: none;
    list-style-type: none;
    list-style: none;
    margin:  -2px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
    border-bottom: 0px;
}

.tabs li {
    float: left;
    margin:  0px 2px 0px 0px;
    padding: 0.5em 1em 0.2em 1em;
    list-style: none;
    border-style: solid;
    border-color: #aaa;
    border-width: 0px 1px 1px 1px;
    background-color: #f0f3f4; /* same as block-banner */
}

.tabs.secondary li {
    padding-top: 2.3em;
    background-color: #ded;
}

.tabs.primary li * {
    font-size: 95% ! important;
}

ul.primary   li a,
ul.secondary li a{
    background-color: #f0f3f4; /* same as block-banner */
    padding: 0 0.5em;
}

ul.primary  a,
ul.primary  a.active,
ul.primary li.active a,
.tabs.primary  a {
    border-width: 0;
    font-weight: bold;
}

ul.secondary  a,
ul.secondary  a.active,
ul.secondary li.active a,
.tabs.secondary  a {
    border-width:0;
    font-weight: normal ! important;
    background-color: #ded;
}

.tabs .active {
    background-color: #fff ! important;
}

.tabs .active a {
    color: #010101 ! important;
    background-image: none ! important;
}

/* non-standard */

.tabs {
    border-radius: 0px 8px;
    opacity: 1.0;
}

.tabs li {
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-top-left-radius:     0px;
    -webkit-border-top-right-radius:    0px;
    -webkit-border-bottom-right-radius: 8px;
            border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius:  8px;
            border-bottom-left-radius:  8px;
}

.tabs.primary li {
  -moz-box-shadow:    0px 5px 10px -4px #333;
  -webkit-box-shadow: 0px 3px 7px #333;
}

/*
 * other stuff, mostly to be filtered out
 */

.two-sidebars #outerColumn {
    border-left: 224px solid #fff;
    border-right: 224px solid #fff;
}
.no-sidebars #outerColumn {
    border-left: 0px solid #fff;
}
.sidebar-right #outerColumn {
    border-right: 224px solid #fff;
}
.sidebar-left #outerColumn {
    border-left: 224px solid #fff;
}
#innerColumn {
    width: 100%;
}
#soContainer {
    float: left;
    width: 100%;
}
#header {
    padding: 21px 30px;
}
#content {
    float: right;
    width: 100%;
}
/*
#content {
   position: relative;
   right: 0px;
   width: 100%;
}
*/
#leftCol {
    float: left;
    margin-left: -224px;
    width: 224px;
}
#rightCol {
    float: right;
    margin-right: -224px;
    width: 224px;
}
#content .inside {
    padding: 0 22px 1em 22px;
}
#leftCol .inside {
    padding: 0 0 1em 22px;
}
#rightCol .inside {
    padding: 0 22px 1em 0;
}
#footer {
    border-top: 1px solid #393333;
    padding: 0 23px;
}
.clr:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

* html #soContainer, * html #content, * html #leftCol, * html #rightCol, * html .Ztabs {
    overflow: visible;
    position: relative;
}
* html .clr, * html .block, * html .mission, * html .sticky, * html .comment, * html #profile .profile {
    height: 1%;
}
* html .poll input {
    top: 1px;
}
*+html .poll input {
    top: 1px;
}
*+html .clr {
    display: inline-block;
} 

#div-main-contentheading{
    text-align: left;
}

/* **************************************Links, headings, form elements 
a, li a.active {
	color: #2c2c2c;
}

a:hover {
	text-decoration: none;
}
li a.active {
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6, #aggregator .feed-item-title {
	margin: 0 0 1em 0;
	font-size: 1em;
}
********************************************** */

.feed-item h3 {
    margin-top: 0;
}

h2 a, .feed-item h3 a {
    color: #e42259;
}

p {
    margin-bottom: 0.9em;
    line-height: 1.5em;
}
fieldset {
    border: 1px solid #ccc;
}
label, input.form-submit {
    cursor: pointer;
}
input, select, textarea {
    font: 100% Arial, Helvetica, sans-serif;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 2px solid #cd919e;
}

td {
    vertical-align: top;
}

/* Header, Primary links, Site slogan, Search form */
#header img {
    float: left;
}
#header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
#header li {
    float: left;
    margin-left: 7px;
    padding: 4px 12px;
    font-weight: bold;
    font-size: 1.1em;
}

/*
#header li.active {
background: #eb235c;
}
#header li a {
color: #2d2d2d;
text-decoration: none;
}
#header li a.active {
color: #fff;
}
*/

/* Main (center) column */
.mission {
    border: 1px solid #eb235c;
    padding: 7px;
    margin-bottom: 1em;
}
.node .content, .comment .content {
    line-height: 1.5em;
}
.help {
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: bold;
}
.breadcrumb {
    margin-top: 1em;
    text-align: right;
}
.ZZZtabs {
    margin: 1em 0;
}

div.error {
    background-color:#FFEEEE;
    color:#990000;
}

.Zmessages,
Zdiv.warning {
    text-align: left;
    background: #dfdfdf;
    color: #404040;
    border: 1px solid #646464;
    padding: 7px;
    margin-bottom: 1em;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5em;
}
#content div.title {
    height: 26px;
    line-height: 26px;
    color: #fff;
    background: url(images/title_2.gif) repeat-x;
}
#content div.title div {
    height: 26px;
    background: url(images/title_right_2.gif) no-repeat right top;
}
#content div.title h1 {
    height: 26px;
    padding: 0 16px;
    background: url(images/title_left_2.gif) no-repeat;
}
tr.odd td, tr.even td {
    padding: 0.3em;
}
#content .item-list {
    font-size: 0.9em;
    margin: 1em 0;
    border-bottom: 1px solid #ccc;
}
div.links {
	clear: both;
}
.node {
	margin-bottom: 1em;
}
.sticky {
	padding: 7px;
	border: 1px solid #ddd;
}
.node .content, .comment .content {
	margin: 0.5em 0;
}
.bottom, .feed-item-categories {
	background: #dfdfdf;
	padding: 5px;
	font-size: 0.9em;
	line-height: 1.5em;
	margin-top: 1em;
}
.submitted {
	font-style: italic;
}
ul.links li {
	padding: 0 1em 0 0;
}
.bottom a, .breadcrumb a {
	color: #6b6b6b;
}
.comment .submitted {
	font-size: 1em;
}
.comment {
	border: 1px solid #646464;
	padding: 7px;
	font-size: 0.9em;
	margin-top: 1em;
}
.comment .title a {
	font-weight: normal;
	color: #e42259;
}
.comment .new {
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
    float: right;
    color: #f00;
}
.signature {
    padding: 7px;
    margin-bottom: 5px;
    background: #dfdfdf;
}
.node .picture, .comment .picture {
    float: right;
}
.comment div.links ul.links, .comment div.links ul.links li {
    display: inline;
}
#aggregator .feed-item-title {
    margin: 0 0 0.5em;
}
#aggregator h2 {
    padding: 1em 0;
}
#forum table {
    margin: 1.5em 0;
}
#forum th img {
    margin-left: 0.5em;
}
#forum td {
    padding: 0.5em;
}
#forum tr td.forum {
    background-position: 2px 0.5em;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
    white-space: normal;
}
#forum td.forum, #forum td.posts {
    background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
    background-color: #ddd;
}
#forum .links {
    font-size: 0.9em;
}
#forum ul.links li {
    padding: 0;
}
#profile .profile {
    clear: both;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 1em 0em;
}
.profile h3 {
    border: none;
    margin-bottom: 1em;
}
#profile .profile .field {
    font-size: 0.9em;
}
#book-outline {
    min-width: 1em;
    width: auto;
}
div.admin .left, div.admin .right {
    margin: 0;
    width: 49%;
}
div.admin-panel {
    padding: 10px 0;
}
.poll .vote-form {
    text-align: left;
}
.poll input {
    position: relative;
    top: 2px;
}
.poll .vote-form .choices {
    display: block;
}
.search-results dt {
    font-size: 1em;
}
.search-results dt a {
    color: #e42259;
    font-weight: bold;
}

/* Left and right columns */
.block, .box {
    margin-bottom: 1.5em;
}
#leftCol .block h3, #rightCol .block h3 {
    margin: 0 0 1em 0;
    padding: 0;
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    background: url(images/title2.gif) no-repeat;
}
#leftCol .block .content h3, #rightCol .block .content h3 {
    margin: 1em 0 0;
    height: auto;
    line-height: normal;
    color: #2c2c2c;
    text-align: left;
    background: none;
}
#leftCol .content, #rightCol .content {
    padding: 0 6px;
}
#leftCol a, #rightCol a {
    text-decoration: none;
}
#leftCol a:hover, #rightCol a:hover {
    text-decoration: underline;
}
#leftCol .item-list ul, #rightCol .item-list ul {
    margin: 0;
}
#leftCol .item-list ul li, #rightCol .item-list ul li {
    margin: 0;
    padding: 0.25em 0 0.25em 1em;
    list-style-type: none;
    background: url(images/list.gif) no-repeat 0 8px;
}
#leftCol .block ul, #rightCol .block ul {
    padding: 0;
}
#leftCol .block ul ul, #rightCol .block ul ul {
    padding: 0.25em 0 0 0;
}
#leftCol li.leaf, #leftCol li.expanded, #leftCol li.collapsed, #rightCol li.leaf, #rightCol li.expanded, #rightCol li.collapsed {
    list-style-type: none;
    list-style-image: none;
    padding: 0.25em 0 0.25em 1em;
    background: url(images/list.gif) no-repeat 0 8px;
}
#leftCol ul.menu li, #rightCol ul.menu li {
    margin: 0;
}
.block-search input {
    margin-top: 1em;
}
#user-login-form {
    text-align: left;
}
.block #user-login-form ul {
    padding: 0;
}
#leftCol .item-list ul li.openid-link, #rightCol .item-list ul li.openid-link, #leftCol #user-login-form .item-list ul li, #rightCol #user-login-form .item-list ul li {
    margin-left: 0;
    list-style-type: none;
}
#user-login-form li.openid-link, #user-login li.openid-link {
    padding-left: 1.5em;
    background-position: left center;
    margin-left: 0;
}

/* Footer */
#footer a {
    color: #6b6b6b;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
.footer_left {
    float: left;
    width: 48%;
}
.footer_right {
    float: right;
    width: 48%;
    text-align: right;
}
.footer_message, #footer .block, #footer ul.links, .powered {
    margin: 1em 0;
}
#footer ul.links li {
    padding: 0 0 0 1em;
}
.powered {
    font-size: 0.9em;
}
.sticky img {
    display: none;
}
