/* ================================================================= */
/*                                                                   */
/* _CSS/PRINT.CSS                                                    */
/*                                                                   */
/* Hans Mühlen / 2007-08-13 -- 2010-07-05                            */
/*                                                                   */
/* ================================================================= */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*                                                                   */
/*  *** WORK IN PROGRESS! ***   Do not copy or comment!              */
/*                                                                   */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */


/* ----------------------------------------------------------------- */
/* -- IMPORTED STYLE SHEETS ---------------------------------------- */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* -- REDEFINITION OF HTML ELEMENTS                               -- */
/* ----------------------------------------------------------------- */

/* html, */ /* for XHTML */
body
{
  margin:  0px;
  padding: 0px ! important;
  color:            black;
  background-color: white ! important;
  background-image: none  ! important;
}

a
{
  color: #010101; /* must not be exactly #000 */
  text-decoration: underline;
}

ul, li
{
  margin-left: auto ! important;
}

/* ----------------------------------------------------------------- */
/* -- DEFINITION OF CLASSES                                       -- */
/* ----------------------------------------------------------------- */

/* -- SIMULATION OF LINE BREAK -- */

.only_online
{
  display: inline;
  position: absolute ! important;
  visibility: hidden;
}

.only_print
{
  display: inherit;
  position: static ! important;
  visibility: visible;
}

/* ----------------------------------------------------------------- */
/* -- DEFINITION OF OTHER BOX PROPERTIES                          -- */
/* ----------------------------------------------------------------- */


#block-dropshadow,
#appendix-pageextension,
#backdrop-scrollprotect,
#backdrop-navigation,
#block-skiptocontent,
#container-navigation,
#container-index-boxes,
#form_people_search,
#widget_banner_login,
#tabsTEST,
#div-banner-logo h2 br,
#div-main-contentheading h2 a img
{
  display: none ! important;
  visibility: hidden ! important;
}

#container-index-body,
#container-body,
#block_main,
#div-main-content,
.left-column,
.right-column
{
  display: inline;
  position: static;
}

.left-column,
.right-column,
.widget
{
  width: 95% ! important;
  max-width: none ! important;
  float: none ! important;
}

/* -- CONTAINER-HEAD ----------------------------------------------- */

#container-head
{
  position: static;
  width:  95%;
  height: 90px;
}

/* -- BLOCK-BANNER ------------------------------------------------- */

#block-banner
{
  position: relative;
  width:  100%;
  height:  85px;
  margin:  0px 0px 0px 0px;
  padding: 0px;
  color: #111;
  background-color: #f7f7f7;
  border-width: 0.5px 0.5px 1px 0.5px;
  border-style: soli;
  border-color: #333;
}

#div-banner-logo    /* -- nowrappable CONTENT OF #block-banner -- */
{
  overflow: visible ! important; /* problems in Opera for two-line <h2> */
}

#div-banner-logo p
{
  display: block ! important;
  position: absolute ! important;
  left: 20px;
  top:  10px;
  margin: 0px;
}

#div-banner-logo h1
{
  display: block ! important;
  position: absolute ! important;
  left:   110px;
  top:    5px;
  margin: 0px;
}

#div-banner-logo h2
{
  display: block ! important;
  position: absolute ! important;
  font-size: medium;
  left: 110px;
  top:  55px;
  margin: 0px;
}

#div-banner-logo h2 span
{
  position: relative;
  top:  0em;
  left: 0px;
}
#div-banner-logo h2 span:after
{
  content: " ";
}

#div-banner-logo a
{
  color: #000;
  background-color: transparent;
}

/* -- BLOCK-BOXES ------------------------------------------------- */

.widget
{
  position: static;
  width:  auto;
  height: auto;
}

/* -- CONTAINER-BODY ----------------------------------------------- */

#container-body,
#container-index-body,
#block-main
{
  position: static;
  margin-top: 30px ! important;
  width: auto;
}

#container-wide-body,
#container-wide-body.twotablevels
{
  top:  80px ! important;
}



/* -- BLOCK-MAIN --------------------------------------------------- */

#div-colophon-address
{
  border-top: 0px solid black;
  padding-top: 5px;
}


/* -- YB CALENDAR CLASSES ------------------------------------------ */

table.myIcal,
table.ical /* legacy */
{
  border-spacing: 0 ! important;
}

.myIcal td,
.ical td /* legacy */
{
  border-width: 1px ! important;
  border-style: solid ! important;
  border-color: #ddd;
}
.myIcal .myIcal_name,
.myIcal .myIcal_right
{
  border-color: #fff ! important;
}
.myIcal .myIcal_weekend
{
  border-color: #000 ! important;
}

.myIcal td[colspan],
.ical td[colspan] /* legacy */
{
  border-width: 1px ! important;
  border-style: solid ! important;
  border-color: #000100 ! important; /* must not be exactly #000 */
}

.myIcal a,
.ical a /* legacy */
{
  text-decoration: none ! important;
  color: #000100 ! important; /* must not be exactly #000 */
}

/* -- PEOPLE CHART PRINTOUT ---------------------------------------- */

#maildb_chart
{
  color: #000001; /* must not be exactly #000 */
}

/* -- LIST OF ALL PROGRAMS ---------------------------------------- */

.program .img
{
  position: relative;
}


