/* ================================================================= */
/*                                                                   */
/* MSIE7-HACKS.CSS                                                   */
/*                                                                   */
/* Hans Mühlen / 2007-08-07 -- 2009-10-03                            */
/*                                                                   */
/* ================================================================= */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*                                                                   */
/*  *** WORK IN PROGRESS! ***   Do not copy or comment!              */
/*                                                                   */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#container-index-body
{
  position: relative ! important; /* must be 'relative' for MSIE7 */
  width:     auto    ! important; /* must be auto for MSIE7 */
  max-width: none    ! important; /* disable for MSIE */
}

.left-column
{
  width: 250px; /* must not be percent, since container is auto */
  margin-right: 10px; /* seems not to work as margin-left on right-column */
}

.right-column
{
  width: 250px; /* must not be percent, since container is auto */
  float: left;  /* must not be float:right */
}

/* -- TRANSPARENCY ------------------------------------------------- */

.widget_table td
{
  filter: alpha(opacity=80);
}

#backdrop-navigation /* sidemenu background */
{
  filter: alpha(opacity=60);
}

/* 
#tabsTEST li
{
  filter: alpha(opacity=85);
}
#tabsTEST #current
{
  filter: alpha(opacity=100);
}
*/
