/* ================================================================= */
/*                                                                   */
/* MSIE6-HACKS.CSS                                                   */
/*                                                                   */
/* Hans Mühlen / 2007-08-07, 2007-10-07                              */
/*                                                                   */
/* ================================================================= */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*                                                                   */
/*  *** WORK IN PROGRESS! ***   Do not copy or comment!              */
/*                                                                   */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* ----------------------------------------------------------------- */
/* Adjustments of the position property */

#backdrop-scrollprotect,
#backdrop-navigation,
#container-head,
#container-navigation,
#block-skiptocontent.tab 
{
  position: absolute;
}

#wiki_edit 
{
  position: absolute;
  margin-top: 0px;
}

/* ----------------------------------------------------------------- */

#backdrop-all
{
  height: 200%;
} 

/* ----------------------------------------------------------------- */
/* to compensate for strange ff/win bugfix which requires a non-zero border */

#block-main
{
  border-color: #fdfdff ! important;
}

/* ----------------------------------------------------------------- */
/* Some subtle changes in margins in the widget boxes, compared to standard */

.widget h4
{
  margin-bottom: -2ex ! important;
}

#presentation-widget p img
{
  margin-top: -3ex ! important;
}

#presentation-widget ul
{
  margin-bottom: -2ex ! important;
}

/* ----------------------------------------------------------------- */
/* MSIE6 cannot display the sub-menus, so we have to make the best of the main menus */

#block-sidemenu .menu li
{
  margin-bottom: 1ex;
  padding-left:  0px;
  list-style-type: square ! important;
}

#block-sidemenu .menu li span *
{
  font-size: small  ! important;
  font-weight: bold ! important;
}
