/* ================================================================= */
/*                                                                   */
/* NOCSS.CSS                                                         */
/*                                                                   */
/* Hans Mühlen / 2009-10-31 -- 2009-10-31                            */
/*                                                                   */
/* ================================================================= */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*                                                                   */
/*  *** WORK IN PROGRESS! ***   Do not copy or comment!              */
/*                                                                   */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */



#block-dropshadow,
#appendix-pageextension,
#block-skiptocontent,
.end-column,
#div-banner-logo p+br,
#div-banner-logo h1+br,
#div-banner-logo h2+br,
#block-skiptocontent p,
#appendix-pageextension,
#agenda td img
.display #appendix-pageextension,
.display #backdrop-navigation,
.display #backdrop-scrollprotect,
.display #backdrop-sidemenu,
.display #block-skiptocontent,
.display #container-navigation,
.display #container-boxes,
.display #block-colophon,
.display #container-tabs,
.display #div-main-contentheading,
.display #time th,
.display #widget_banner_login,
.display .end-column
{
  display: none;
  position: absolute;
  visibility: hidden;
  width:  0px;
  height: 0px;
  top:    auto;
  bottom: auto;
  left:   auto;
  right:  auto;
}

.hidden
{
  display: none;
  position: absolute;
  visibility: hidden;
}

.only_online
{
  visibility: visible;
}

.only_print
{
  display: inline;
  position: absolute;
  visibility: hidden;
}

