/* ================================================================= */
/*                                                                   */
/* _CSS/PHOTOS.CSS                                                   */
/*                                                                   */
/* Hans Mühlen / 2007-08-07 -- 2010-05-22                            */
/*                                                                   */
/* ================================================================= */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*                                                                   */
/*  *** WORK IN PROGRESS! ***   Do not copy or comment!              */
/*                                                                   */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* ---------------------------------------------------------------- */
/* -- PHOTOS SCREEN CLASSES                                      -- */
/*    Set in nav_paths as
/*     $pagepath[]["bodyid"] = ["display"|"application"|"photos"|"minimalpage"]
/*    Stored as $headerClass->config_bodyid
/*    Then entered as <body id=''>
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* -- BODY BLOCK 'PHOTOS'                                        -- */
/* ---------------------------------------------------------------- */

/* html #photos, */ /* for XHTML */
body
{
  color:            #fefeff; /* must not be exactly #fff */
  background-color: #010000; /* must not be exactly #000 */
  background-image: url(img/backdrop_pentaflakes_1200_black.jpg) ! important;
  /* background-image: none ! important; */
}

#photos b,
#photos strong
{
  color: #eee;
}

#photos a:link,
#photos a:link *,
#photos a:visited,
#photos a:visited *
{
  color: #83a2b4;
}

#photos a:link:hover,
#photos a:link:hover strong,
#photos a:visited:hover,
#photos a:visited:hover strong,
#photos a:link:focus,
#photos a:link:focus strong,
#photos a:visited:focus,
#photos a:visited:focus strong
{
  color: #17f;
}

#photos form input[type=submit],
#photos form input[type=reset],
#photos form input[type=button]
{
  color: #111;
  background-color: #eeeff4;
}

#photos form input[type=submit]:hover,
#photos form input[type=reset]:hover,
#photos form input[type=button]:hover,
#photos form input[type=submit]:focus,
#photos form input[type=reset]:focus,
#photos form input[type=button]:focus
{
  color: #010000; /* must not be exactly #000 */
  background-color: #e0e3f4;
}

#photos hr
{
  color: inherit;
  border-top: 1px solid #555;
}

#photos #backdrop-scrollprotect
{
  color: inherit;
  background-color: #010000; /* must not be exactly #000 */
}

#photos #backdrop-navigation
{
  color: inherit;
  background-color: #010000; /* must not be exactly #000 */
}

#photos #block-dropshadow
{
  color: inherit;
  background-image: none;
}

#photos #block-banner
{
  color: #eee;
  background-color: #222;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  background-image: url(img/background-banner-3.png);
}

#photos #div-banner-logo a
{
  color: #eee;
}

#photos #container-navigation,
#photos #container-navigation *
{
  color: #9cf;
  background-color: transparent;
}

/* style for all sub-level menu items EXCEPT the currently selected item */
#photos #container-navigation #block-menu .menu li li span,
#photos #container-navigation #block-menu .menu li li span *
{
  color: #9cf;
}

/* style for the currently selected menu item */
#photos #container-navigation #block-menu .menu li span.this
{
  color: #9cf;
}

/* style for the active menu items (breadcrumb) */
#photos #container-navigation #block-menu .menu li.active>span a,
#photos #container-navigation #block-menu .menu li.active>span
{
  color: #eee;
}

/* link color on hover */
#photos #container-navigation #block-menu .menu li span a:hover,
#photos #container-navigation #block-menu .menu li span a:focus
{
  color: #17f; /* #384d6a; */
}

/* for eg. debug links under the menu */
#photos #container-navigation dt a:link,
#photos #container-navigation dt a:visited
{
  color: #6be;
}
#photos #container-navigation dt a:link:hover,
#photos #container-navigation dt a:visited:hover,
#photos #container-navigation dt a:link:focus,
#photos #container-navigation dt a:visited:focus
{
  color: #17f;
}

#photos #div-main-contentheading h1
{
  color: #eee;
}

#photos #div-main-content h2
{
  color: #eee;
}

#photos #block-colophon
{
  border-top-color: #555;
}





/* #photos specific */
/* ---------------------------------------------------------------- */
/* -- DIV BLOCK 'SLIDESHOW'                                      -- */
/* ---------------------------------------------------------------- */

#slideshow
{
  display: block;
  position: relative;
  visibility: visible; /* 'visible' important for Safari */
  top:    auto;
  bottom: auto;
  left:   auto;
  right:  auto;
  width:  auto;
  height: auto;
  float: none;
  clear: both;
  overflow: visible;
  clip:     inherit ! important; /* important for safari */
}

#slideshow h3
{
  margin-top: -2ex;
}

#slideshow p+p,
#slideshow p+table
{
  margin-top: -1.5ex;
}

#slideshow table .caption p
{
  margin-top: -0.5ex;
}

#slideshow table
{
  padding: 0px;
  border-spacing: 5px;
  border-width: 0px;
}

#slideshow table.single
{
  margin: 0em auto 2em auto;
}

#slideshow table td
{
  text-align: center;
}

#slideshow table .img
{
  text-align: center ! important;
}

#slideshow table .caption
{
  width: 300px ! important;
  margin: 0px auto 0px auto;
  text-align: left;
  font-size: x-small;
}

#slideshow table.thumb td
{
  font-size: 0px;
}

#slideshow table .navigation
{
  position: relative ! important;
  text-align: center;
  width: 300px ! important;
  height: 20px ! important;
  margin: 0px auto 0px auto;
}

#slideshow table .navigation .prev
{
  position: absolute;
  margin-left: -150px;
}

#slideshow table .navigation .mid
{
  position: absolute;
  margin-left: -9.5ex;
  font-size: small;
  font-weight: bold;
}

#slideshow table .navigation .next
{
  position: absolute;
  margin-left: 130px;
}


