/*
div.messages, div.status, div.warning, div.error, div.debug{
   background-position: top right;
}

   .messages,
div.messages {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #B8D3E5;
    margin: 0.75em 0   ! important;
    padding: 0.5em 1em ! important;
}

div.status {
    border-color: #C7F2C8;
    color: #33A333;
}

div.warning {
    background: url("../images/warning.png") no-repeat scroll right center transparent;
    color: Magenta;
}

div.debug {
    color: DarkBlue;
}

div.error {
    border: 1px solid #DD7777;
    color: Maroon;
}
*/

/*
 * Redefine the Hans's splash 
 */

#block-subsiteheadline p:after,
#block-subsiteheadline p:before
{
  content: '';
}

#block-bannerimage,
#block-leftimage
{
  background-image: url("./img/_splash/sprite-splash-nordita.png");
}
