/* ================================================================= */
/*                                                                   */
/* CSS/DISPLAY.CSS                                                   */
/*                                                                   */
/* Hans Mühlen / 2007-08-07 -- 2012-02-13                            */
/*                                                                   */
/* ================================================================= */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/*                                                                   */
/*  *** WORK IN PROGRESS! ***   Do not copy or comment!              */
/*                                                                   */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* ---------------------------------------------------------------- */
/* -- DISPLAY SCREEN CLASSES                                     -- */
/*    Set in 'PATH_CLASSES/navigationMain' as
/*     $pagepath[][]["bodyid"] = ["display"|"slideshow"]
/*    Stored as $documentClass->config_bodyid
/*    Then entered as <body id=''>
/* ---------------------------------------------------------------- */



/* --- ADAPTATION OF COMMON IDS AND CLASSES --- */

/* html #display, */ /* for XHTML */
body#display
{
  background-image: url("./img/backdrop_pentaflakes_1200_mac.jpg");
}
#display #region-content
{
  background-image: none;
}
#display #region-banner
{
  background-color: transparent ! important;
}

#display #container-scrolled
{
  top: 95px;
}

#display #region-banner
{
  top: 0;
}

#display #region-content ul>li
{
  margin-left: 0;
}

#display #container-fixed
{
  max-width: none ! important;
  left: 40px;
}
#display #block-logo
{
  /* text-align: center; */
}
#display #block-logo p
{
  margin-left: 0px;
}
#display #block-logo h1
{
  left: 85px;
  margin-left: 20px;
}
#display #block-logo h2
{
  display: none;
  position: absolute;
  visibility: hidden;
  width:  0;
  height: 0;
/*
  display: inline;
  position: relative;
  visibility: visible;
  top: -8px;
  right: auto;
*/
} /*
  -- TEXT "Nordic institute..." --
  position: relative -- bugfix chrome 14
  */








/* --- IDS AND CLASSES SPECIAL TO THE DISPLAY --- */

#display #displaytime table td
{
  background-image: url("./img/backdrop_pentaflakes_ffb.png") ! important;
}

#display #displayminiagenda table th,
#display #displayminiagenda table td
{
  background-image: url("./img/backdrop_pentaflakes_fbb.png") ! important;
}

#display #appendix-pageextension,
#display #backdrop-navigation,
#display #backdrop-scrollprotect,
#display #backdrop-menu,
#display #block-top,
#display #region-headtop,
#display #block-colophon,
#display #region-colophon,
#display #div-main-contentheading,
#display #div-maincontentheading,
#display #block-maincontentheading,
#display #displaytime th,
#display #div-banner-login,
#display #div-bannerlogin,
#display #block-bannerlogin
{
  display: none ! important;
  visibility: hidden  ! important;
  position: absolute;
}

/* left and right columns */

#display #displaytime
{
  float: right;
  margin-left: 0 ! important;
  margin-right: 0 ! important;
}

#display #apod
{
  float: right;
  margin-left: 0 ! important;
  margin-right: 0 ! important;
}

#display .column-end
{
  display: block;
  visibility: hidden;
  clear: both;
  width: 100%;
  height: 0;
  margin:  0;
  padding: 0;
  border-width:  0;
  background-color: transparent !important;
}

/* widths */

#display #container-scrolled
{
  left: 20px;
  width: 97% ! important;
  max-width: none ! important;
}

#display #div-main-content,
#display #div-maincontent,
#display #block-maincontent
{
  width: 100% ! important;
}

#display #div-main-contentheading *,
#display #div-maincontentheading *,
#display #block-maincontentheading *
{
  width: 0;
  height: 0;
}

#display .column-left
{
  margin-left: 10px ! important;
}

#display .wide_col
{
  width: 620px;
  margin-left:  0;
  margin-right: 0 ! important;
}

#display .medium_col
{
  width: 400px;
  margin-left: 0 ! important;
  margin-right:  0 ! important;
  padding-right: 0;
}

#display .narrow_col
{
  width: 200px;
  margin-left: 0;
  margin-right:  0 ! important;
  padding-right: 0 ! important;
}

#display #displaytime,
#display #displaycurrentevent,
#display #apod,
#display #displaytip,
#display #displaymovienight
{
  width: 100% ! important;
}

#display #displaycurrentevent th,
#display #displaycurrentevent td,
#display #displaytime *,
#display #apod *
{
  text-align: center;
}

#display .medium_col #displaycurrentevent td p:first-child
{
  float: left;
}

#display .medium_col #displaycurrentevent td p+p
{
  float: none;
}

#display #agenda td
{
  padding-bottom: 0.5em;
}
#display #agenda th
{
  padding-bottom: 0.2em;
}
#display #agenda .preamble td
{
  padding-top: 0.5em;
}

#display #displayminiagenda dl
{
  margin-top:     0.5em;
  margin-bottom:  0.5em;
}
#display #displayminiagenda dd
{
  margin-top: 7px;
  margin-left: 1em;
}

#display #region-content h2
{
  margin: 0 0 0.5em 0;
}

#display #todaysvisitors ul,
#display #displaytip ul
{
  margin-top:     0.5em;
  margin-bottom:  0.5em;
  margin-left:   -1em;
}

#display #displaycurrentevent p+p+p
{
  margin-top:    0.5em ! important;
  margin-bottom: 0.5em ! important;
}

/* font family and sizes */

#display .medium_col *,
#display .narrow_col *
{
  font-family: "Trebuchet MS","Trebuchet","Geneva","Arial","Helvetica",sans-serif;
}

#display #todaysvisitors p+p
{
  font-size: x-small ! important;
}

#display #displaycurrentevent em
{
  font-size: small ! important;
}

#display #displayminiagenda .agenda-room,
#display #displayminiagenda .agenda-speaker,
#display #displayminiagenda .agenda-affiliation,
#display #todaysvisitors td,
#display #todaysvisitors td *,
#display .smaller *
{
  font-size: medium ! important;
}

#display #apod th,
#display #apod td *,
#display #displaycurrentevent th,
#display #displaycurrentevent td,
#display #displaycurrentevent strong,
#display #displaytip td,
#display #displaytip td *,
#display #displaymovienight td,
#display #displaymovienight td *,

#display #agenda .agenda-eventtype,
#display #agenda .agenda-period,
#display #agenda .agenda-category,
#display #agenda .agenda-time,
#display #agenda .agenda-room,
#display #agenda .agenda-speaker,
#display #agenda .agenda-affiliation,

#display #displayminiagenda td,
#display #displayminiagenda td *,
#display #displayminiagenda .agenda-eventtype,
#display #displayminiagenda .agenda-period,
#display #displayminiagenda .agenda-category,
#display #displayminiagenda .agenda-time
{
  font-size: large ! important;
}

#display #displaytime td *,
#display #displaytip th,
#display #displaymovienight th,
#display #agenda .agenda-title,
#display #agenda .agenda-date,
#display #displayminiagenda th,
#display #displayminiagenda .agenda-title,
#display #todaysvisitors th,
#display #div-main-content h2,
#display #div-maincontent h2,
#display #block-maincontent h2
{
  font-size: x-large ! important;
}

#display #agenda th,
#display #displaytime strong
{
  font-size: xx-large ! important;
  font-weight: bold;
}

#display #displayminiagenda .agenda-date,
#display #displayminiagenda .agenda-time,
#display #displayminiagenda .agenda-category,
#display #displayminiagenda .agenda-eventtype,
#display #displayminiagenda .agenda-title
{
  font-weight: bold;
  font-style:  normal;
}
#display #displayminiagenda .agenda-room,
#display #displayminiagenda .agenda-period,
#display #displayminiagenda .agenda-affiliation
{
  font-weight: normal;
  font-style:  italic;
}

/* images */

#display #displaytip img,
#display #displaymovienight img
{
  max-height: 150px ! important;
}

#display #apod img
{
  visibility: visible;
  width: 170px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-top:    10px;
  margin-bottom: -5px;
}

#display #displaycurrentevent img
{
  margin-top:    10px ! important;
  margin-bottom: 10px;
}

/* borders */

#display .widget_table tr th
{
  border-top: 1px solid #3b586e;
}
#display .widget_table tr:first-child th
{
  border-top-width: 0;
}

#display .preamble td
{
  border-bottom: 1px solid black;
}

#display #apod th
{
  border-top-color: transparent ! important;
}
#display #apod td
{
  border-bottom-width: 0 ! important;
  opacity: 1.0;
}

/* line-height */

#display #displayminiagenda,
#display #agenda td
{
  line-height: 1.2;
}
#display #apod td *,
#display #displaycurrentevent p
{
  line-height: 1.1;
}
#display #agenda th
{
  line-height: 1.0;
}

/* dropshadow */

#display #displaytime table,
#display #displaytime table th,
#display #displaymovienight table,
#display #displaymovienight table th,
#display #displaytip table,
#display #displaytip table th,
#display #displayminiagenda table,
#display #displayminiagenda table th,
#display #displaycurrentevent table,
#display #displaycurrentevent table th,
#display #todaysvisitors table,
#display #todaysvisitors table th,
#display #apod table,
#display #apod table th
{
-moz-box-shadow:    0 3px 10px -2px #333;
-webkit-box-shadow: 0 3px 10px -2px #333;
  box-shadow:       0 3px 10px -2px #333;
}

/* 'sixpack' block of images */

#display #image p
{
  padding-bottom: 20px;
}

#display table#image
{
  margin-top: 11px ! important;
}

#display #image td
{
  border-width: 0 ! important;
  margin: 0 ! important;
}

#display #image td img
{
  padding: 0 20px 34px 0 ! important;
}

#display #image,
#display #image img
{
  width: 400px;
}







